.white_field{
   bgcolor: white;
   background: white;
   width: 50px;
   height: 50px
}

.black_field{
   bgcolor: black;
   background: black;
   width: 50px;
   height: 50px
}


.white_pawn{
   color: grey;
   border: solid 2px grey;
   /*border-color: grey;*/
   width: 30px;
   height: 30px;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   background: white;
   padding: 2px;
   margin: 5px;
}

.black_pawn{
   color: black;
   border: solid 2px grey;
   /*border-color: grey;*/
   width: 30px;
   height: 30px;
   border-radius: 25px;
   background: black;
   padding: 2px;
   margin: 5px;
}