h1{
	color: brown;
	text-align: center;
}


.sidebar {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #AA000; 
    overflow-x: hidden;
    padding-top: 20px;
}


.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
}


.sidebar a:hover {
    color: brown;
}


.content {
    margin-left: 160px;
    padding: 0px 10px;
}

.footer{

}


.game-record{

}